title: 123Microcontroller
email: wisit.paewkratok@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Engineering Clean. Technical, Minimalist, Code-First.
baseurl: "" # the subpath of your site
url: "https://www.123microcontroller.com" # the base hostname & protocol for your site
twitter_username: jekyllrb
github_username:  jekyll

# Build settings
theme: null
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap

highlighter: rouge

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

# Timezone & Future Posts Settings
timezone: Asia/Bangkok
future: true